alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
apsw==3.36.0.post1
argon2-cffi==21.1.0
asn1crypto==1.4.0
astroid==2.8.2
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
Beaker==1.11.0
beancount==2.3.4
beancount-interpolate==2.3.2
beancount-plugin-utils==0.0.4
beancount-share==0.1.10
beautifulsoup4==4.10.0
bottle==0.12.19
bpyutils==0.2.0
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
btrfsutil==5.14.2
CacheControl==0.12.6
cachetools==4.2.4
cachy==0.3.0
cchardet==2.1.7
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
cheroot==8.5.2
cleo==0.8.1
click==8.0.3
clikit==0.6.2
colorama==0.4.4
coloredlogs==15.0.1
configobj==5.1.0.dev0
construct==2.10.67
contextlib2==21.6.0
crashtest==0.3.1
cryptography==35.0.0
css-parser==1.0.6
cssselect==1.1.0
decorator==5.1.0
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docutils==0.17.1
dulwich==0.20.25
fastimport==0.9.14
fava==1.20.1
-e git+https://github.com/egetzner/fava-envelope.git@f801fbea7525862c2515ba976581a906499ec8bd#egg=fava_envelope
feedparser==6.0.8
filelock==3.3.1
Flask==2.0.2
Flask-Babel==2.0.0
future==0.18.2
google-api-core==2.1.1
google-api-python-client==2.26.1
google-auth==2.3.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httplib2==0.20.1
humanfriendly==10.0
hurry.filesize==0.9
idna==3.3
ifaddr==0.1.7
imagesize==1.2.0
importlib-metadata==4.8.1
iniconfig==1.1.1
ipython==7.28.0
ipython_genutils==0.2.0
isc==2.0
isort==5.9.3
itsdangerous==2.0.1
jaraco.functools==3.3.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.2
keyring==21.8.0
lazy-object-proxy==1.6.0
lensfun==0.3.95
libfdt==1.6.1
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.19.0
lxml==4.6.3
Mako==1.1.5
Markdown==3.3.4
markdown2==2.4.1
Markups==3.1.2
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mechanize==0.4.7
meld==3.20.4
meson==0.59.2
more-itertools==8.10.0
msgpack==1.0.2
multivolumefile==0.2.3
mutagen==1.45.1
netifaces==0.11.0
netsnmp-python==1.0a1
numpy==1.21.2
ordered-set==4.0.2
packaging==20.9
pandas==1.3.3
parso==0.8.2
pastel==0.2.1
patiencediff==0.2.2
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pipupgrade==1.10.1
pkginfo==1.7.1
platformdirs==2.4.0
pluggy==1.0.0
ply==3.11
poetry==1.1.11
poetry-core==1.0.7
progress==1.6
prompt-toolkit==3.0.20
protobuf==3.18.1
psutil==5.8.0
ptyprocess==0.7.0
pwquality==1.4.4
py==1.10.0
py7zr==0.16.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybcj==0.5.0
pycairo==1.20.1
pychm==0.8.6
pycodestyle==2.8.0
pycparser==2.20
pycryptodome==3.11.0
pycryptodomex==3.11.0
pyflakes==2.4.0
Pygments==2.10.0
PyGObject==3.42.0
pykeepass==4.0.1
pylev==1.4.0
pylint==2.11.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyppmd==0.17.1
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
pytest==6.2.5
python-dateutil==2.8.2
python-magic==0.4.24
python-markdown-math==0.8
python-xlib==0.31
pytz==2021.3
pyxdg==0.27
PyYAML==6.0
pyzstd==0.15.0
quodlibet==4.4.0
rados==2.0.0
rbd==2.0.0
Reflector==2021.7.8.19.52.52
regex==2021.10.8
reportlab==3.6.2
requests==2.26.0
requests-toolbelt==0.9.1
resolvelib==0.8.1
ReText==7.2.2
retrying==1.3.3
rgw==2.0.0
rsa==4.7.2
rst2pdf==0.98
SecretStorage==3.3.1
senf==1.5.0
sgmllib3k==1.0.0
shellingham==1.4.0
simplejson==3.17.5
six==1.16.0
smartypants==2.0.1
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
team==1.0
terminator==2.1.1
texttable==1.6.4
toml==0.10.2
tomli==1.2.1
tomlkit==0.7.2
traitlets==5.1.0
typing-extensions==3.10.0.2
unrardll==0.1.5
uritemplate==4.1.1
urllib3==1.26.7
validate==5.1.0.dev0
virtualenv==20.8.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.13.2
youtube-dl==2021.6.6
zeroconf==0.36.8
zipp==3.6.0
