{% macro account_name(ledger, account_name) -%}
<a href="{{ url_for('account', name=account_name) }}" class="account">
  {{- account_name.split(':')[-1] -}}
</a>
{%- if ledger.accounts[account_name].uptodate_status %}

{{ indicator(ledger, account_name) }}
{{ last_account_activity(ledger, account_name) }}
{% endif %}
{% endmacro %}

{% macro render_currency(ledger, currency) -%}
<span title="{{ ledger.commodities.name(currency) }}">{{ currency }}</span>
{%- endmacro %}

{% macro render_diff_and_number(balance, cost, currency, invert=False) %}
  {% set num = balance.pop(currency, 0) %}
  {% set num2 = -num if invert else num %}
  <span class="number">{{ num2|format_currency(currency) }}</span>
  {% if currency in cost %}
    {% set cost_num = cost.pop(currency, 0) %}
    {% set diff = num - cost_num %}
    {% if invert %}
      {% set diff = -diff %}
    {% endif %}
    {%- if diff -%}
    <br>
    <span class="diff{{ ' positive' if diff > 0 else ' negative' }}" title="{{ cost_num|format_currency(currency, invert=invert) }} {{ currency }}">({{ diff|format_currency(currency) }})</span>
    {%- endif -%}
  {%- endif -%}
{%- endmacro %}

{% macro tree(account_node, invert=False, ledger=None) %}
{% set ledger = ledger or g.ledger %}
<tree-table>
  <ol class="flex-table tree-table{{ ' two-currencies' if ledger.options.operating_currency|length > 1 else '' }}" title="{{ _('Hold Shift while clicking to expand all children.\nHold Ctrl or Cmd while clicking to expand one level.') }}">
    <li class="head">
      <p>
      <span class="account-cell"><button type="button" class="link expand-all hidden" title="{{ _('Expand all accounts') }}">{{ _('Expand all') }}</button></span>
      {% for currency in ledger.options.operating_currency %}
      <span class="num">{{ currency }}</span>
      {% endfor %}
      <span class="num other">{{ _('Other') }}</span>
      </p>
    </li>
    {% set end_date = g.filtered.end_date %}
    {% for account in ([account_node] if account_node.name else account_node.children) if extension.should_show(account) recursive %}
    {% set balance = extension.cost_or_value(account.balance, end_date) %}
    {% set balance_children = extension.cost_or_value(account.balance_children, end_date) %}
    {% set cost = extension.cost(account.balance) if g.conversion == 'at_value' else {} %}
    {% set cost_children = extension.cost(account.balance_children) if g.conversion == 'at_value' else {} %}
    <li{{ ' class=toggled' if extension.collapse_account(account.name) else '' }}>
      <p{{ ' class=has-balance' if not balance.is_empty() else '' }}>
      <span class="account-cell depth-{{ loop.depth0 }} droptarget{{ ' has-children' if account.children else '' }}" data-account-name="{{ account.name }}">
        {{ account_name(ledger, account.name) }}
      </span>
      {% for currency in ledger.options.operating_currency %}
      <span class="num">
        <span class="balance">{{ render_diff_and_number(balance, cost, currency, invert=invert) }}</span>
        <span class="balance-children">{{ render_diff_and_number(balance_children, cost_children, currency, invert=invert) }}</span>
      </span>
      {% endfor %}
      <span class="num other">
        <span class="balance">
          {% for currency in balance.keys()|sort %}
            {{ render_diff_and_number(balance, cost, currency, invert=invert) }} {{ render_currency(ledger, currency) }}<br>
          {% endfor %}
        </span>
        <span class="balance-children">
          {% for currency in balance_children.keys()|sort %}
            {{ render_diff_and_number(balance_children, cost_children, currency, invert=invert) }} {{ render_currency(ledger, currency) }}<br>
          {% endfor %}
        </span>
      </span>
      </p>
      {% if account.children %}
  <ol>{{- loop(account.children|sort(attribute='name')) -}} </ol>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</tree-table>
{% endmacro %}