{% import 'macros/_account_macros.html' as account_macros with context %}
{% import "_tree_table.html" as treetable with context %}
{% import "_query_table.html" as querytable with context %}

<style>
:root {
/* light theme*/
  --color-envelope-bg-negative: #f7c1b5;
  --color-envelope-fg-negative: #300b03;
  --color-envelope-bg-positive: #c4ecbb;
  --color-envelope-fg-positive: #143d0b;
  --color-envelope-bg-attention: #f9e1a9;
  --color-envelope-fg-attention: #2a1704;
  --color-envelope-bg-zero: #e2e1e6;
  --color-envelope-fg-zero: #302f34;

/*these variables were no longer available*/
  --color-budget-negative: #772e20;
  --color-budget-positive: #78b236;

/*fava colors*/
/*
  --color-envelope-bg-negative: var(--color-budget-negative);
  --color-envelope-fg-negative: white;
  --color-envelope-bg-positive: var(--color-budget-positive);
  --color-envelope-fg-positive: white;
  --color-envelope-bg-attention: #ff9d00;
  --color-envelope-fg-attention: white;
  --color-envelope-bg-zero: #cccbd0;
  --color-envelope-fg-zero: white;
*/
}

.tree-table .balance.negative {
  color: var(--color-budget-negative);
  font-weight: bold;
}

.tree-table .balance.positive {
  color: var(--color-budget-positive);
  font-weight: bold;
}

.tree-table .balance-children.negative {
  color: var(--color-budget-negative);
  font-weight: bold;
}

.tree-table .balance-children.positive {
  color: var(--color-budget-positive);
  font-weight: bold;
}

.tree-table .balance.spent {
    color: gray;
    opacity: 0.96;
    font-weight: normal;
}

.tree-table .spent {
    opacity: 0.96;
}

.tree-table .available {
  border-radius: 25px;
}

.tree-table .balance.goal {
    padding: 0.2em 0.1em;
    font-size: 0.75em;
    margin: auto;
}

.overfunded {
    font-weight: bold;
}

.to-be-budgeted.zero {
  background-color: var(--color-budget-positive);
}
.to-be-budgeted.positive {
  background-color: #ff9d00;
}
.to-be-budgeted.negative {
  background-color: var(--color-budget-negative);
}

.tree-table .available{
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 500;
}

.tree-table .available.underfunded {
  background-color: var(--color-envelope-bg-attention);
  color: var(--color-envelope-fg-attention);
}

.tree-table .available.negative {
  background-color: var(--color-envelope-bg-negative);
  color: var(--color-envelope-fg-negative);
  font-weight: bold;
}

.tree-table .available.positive {
  background-color: var(--color-envelope-bg-positive);
  color: var(--color-envelope-fg-positive);
}

.tree-table .available.zero {
  background-color: var(--color-envelope-bg-zero);
  color: var(--color-envelope-fg-zero);
}

.tree-table .bucket.budget {
  padding-left: 1em;
  color: gray;
  font-weight: normal;
}

.tree-table .bucket {
  padding-left: 1em;
  color: gray;
  font-weight: bold;
}

.tree-table .progress {
    display: block;
    float: right;
}

progress[value] {
    position: absolute;
    display: block;
    width: 130px;
    height: 2px;
}

.budget-header {
    font-size: 1.3em;
    margin: 5px;
}

.is-current {
    text-decoration: underline;
}

.to-be-budgeted {
  margin-bottom: 0.8em;
  padding: 1.5em;
  padding-top: 2px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: var(--color-budget-positive);
  color: white;
}

.large-number {
  font-size: 2em;
  text-align: center;
  align: center;
  padding: 0em;
}

.small-description {
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
  padding: 0em;
}

#summary {
    margin-left: 1em;
    font-size: 0.8em;
    border: 0px solid purple;
    border-collapse: collapse;
}

#summary tbody tr:nth-child(even) td,
#summary tbody tr:nth-child(odd) td,
#summary tbody tr.even td,
#summary tbody tr.odd td {
    background: white;
    border: 0px solid white;
    border-collapse: collapse;
    padding: 0em;
    padding-right: 0.5em;
}

#summary tbody tr.stealing {
  color: var(--color-budget-negative);
  font-weight: bold;
}

.summary-num {
  font-family: var(--font-family-monospaced);
  font-weight: 500;
  text-align: right;
}
</style>
{% set show_accounts = extension.set_show_accounts(request.args.get('show_accounts')) %}
{% set budgets = extension.get_budgets() %}
{% set data, period, budget = extension.make_table(request.args.get('period'), request.args.get('show_accounts'), request.args.get('budget')) %}

<div class="headerline">
    <h3>
        {% for b in budgets %}
        <a href="{{ url_for('extension_report', extension_name='EnvelopeBudgetColor', period=period, budget=b, show_accounts=show_accounts) }}">
            Budget {{ b }}
        </a> |
        {% endfor %}
    </h3>
</div>
<div class="headerline">
    <div>
    <h3>
      <a href="{{ url_for('extension_report', extension_name='EnvelopeBudgetColor', period=extension._prev_month(), budget=budget, show_accounts=show_accounts) }}">&lt;&lt;</a> |
        <span class="budget-header {{ 'is-current' if data.is_current else '' }}">{{extension.month_name(period)}}</span>
        {% if not data.is_current %}
        <a href="{{ url_for('extension_report', extension_name='EnvelopeBudgetColor', period=extension._period_for(today()),budget=budget, show_accounts=show_accounts) }}">(Go to current) </a>
        {% endif %}
         |
      <a href="{{ url_for('extension_report', extension_name='EnvelopeBudgetColor', period=extension._next_month(),budget=budget, show_accounts=show_accounts) }}">&gt;&gt;</a>
    </h3>
    </div>
    <div>
    {% if extension.display_real_accounts %}
        <button type="button" title="Hide Real Accounts" onclick="location.href='{{  url_for('extension_report', extension_name='EnvelopeBudgetColor', period=period,budget=budget, show_accounts=False) }}';">Accounts</button>
    {% else %}
        <button class="inactive" type="button" title="Show Real Accounts" onclick="location.href='{{  url_for('extension_report', extension_name='EnvelopeBudgetColor', period=period,budget=budget, show_accounts=True) }}';">Accounts</button>
    {% endif %}
    </div>
</div>

{% if data.has_content %}

    {% set summary = extension.get_summary(period) %}
    {% set income_table = extension.generate_income_query_tables(period) %}

    <div class="headerline">
        <div class="to-be-budgeted {{ 'zero' if summary.to_be_budgeted == 0 else 'negative' if summary.to_be_budgeted < 0 else 'positive' }}">
            <div class="large-number">
                {{ extension.format_currency(summary.to_be_budgeted, currency='EUR', show_if_zero=True) }}
            </div>
            <div class="small-description">to be budgeted</div>
        </div>

        <div>
            <table id="summary" class="other">
            <tbody>
                <tr>
                    <td class="summary-num">{{ extension.format_signed(summary.available_funds) }}</td>
                    <td >Funds for {{ summary.month }} (Income: {{ extension.format_signed(summary.income) }})</td>
                </tr>
                <tr>
                    <td class="summary-num">{{ extension.format_signed(summary.overspent_prev, show_if_zero=True) }}</td>
                    <td >Overspent in {{ summary.prev }} </td>
                </tr>
                <tr>
                    <td class="summary-num">{{ extension.format_signed(summary.budgeted, show_if_zero=True) }}</td>
                    <td >Budgeted in {{ summary.month }} </td>
                </tr>
                <tr class="{{ 'stealing' if summary.is_stealing else '' }}">
                    <td class="summary-num">{{ extension.format_signed(summary.budgeted_next, show_if_zero=True) }}</td>
                    <td >Budgeted in Future
                        {% if summary.is_stealing %}
                        ({{ extension.format_signed(summary.stealing) }} in {{ summary.next }})
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <div class="headerline">
      {% for m in extension.get_budgets_months_available() %}
      <h3><b>{% if not (module == m) %}<a class="{{ 'budget-header' if m == period else 'month' }} {{ 'is-current' if extension.is_current(m) else '' }}" href="{{ url_for('extension_report', extension_name='EnvelopeBudgetColor', period=m,budget=budget, show_accounts=show_accounts) }}">{{ m }}</a>{% else %} {{ m }}{% endif %}</b></h3>
      {% endfor %}
    </div>

    {% set grows = "goals" %}
    {% set brows = "budgeted" %}
    {% set srows = "spent" %}
    {% set vrows = "available" %}

    <ol is="tree-table" class="flex-table tree-table">
        <li class="head">
            <p>
                <span class="account-cell"><button type="button" class="link expand-all hidden" title="{{ _('Expand all accounts') }}">{{ _('Expand all') }}</button></span>
                <span class="num">Goal</span>
                <span class="num">Budgeted</span>
                <span class="num">Spent</span>
                <span class="num">Available</span>
            </p>
        </li>
    {% set ns = namespace(rown=1) %}
    {% for account in data.accounts if extension._is_visible(account) recursive %}
    {% set ns.rown = 1 if extension._has_children(account) else 1 - ns.rown %}
    <li{{ ' class=toggled' if extension.collapse_account(account.name) else '' }}>
      <p class="row-{{ns.rown}}
         {{- ' group-row' if extension._has_children(account) else '' -}}"
         {%- if loop.depth0 == 0 %} style="margin-top: 10px;"{% endif %}>
        <span class="account-cell depth-{{ loop.depth0 }} droptarget
        {{- '' if not extension._has_children(account) else ' has-children'}}
        " data-account-name="{{ account.account }}">
            {% set account_row = extension.account_row(account) %}
            {% if extension._is_real_account(account) %}
                {% if extension._has_children(account) %}<span class="expander"></span>{% endif %}
                <a href="{{ url_for('account', name=account.account, time=period) }}" class="account">
                  {{ extension._name(account) }}
                </a>
            {% else %}
                <span class="progress bucket {{ 'budget' if account_row.is_bucket else '' }} ">
                  {{ extension._name(account) }}
                </span>
            {% endif %}

            </span>
            {% set goal = extension._value(account_row.display_goal.amount) %}
            {% set budgeted = extension._value(account_row.budgeted) %}
            {% set spent = extension._value(account_row.spent) %}
            {% set available = extension._value(account_row.available) %}

            <span class="num {{ 'has-balance' if goal else '' }}">
              <span class="balance goal">
                  <span class="{{ 'overfunded' if account_row.is_overfunded else '' }}">
                    {{ extension.format_amount(goal, show_if_zero=False) }}
                  </span>
                  {{ account_row.goal_type if account_row.display_goal else '' }}
                  {% if not account_row.is_non_budget() and not account_row.is_fully_funded %}
                      <progress max="1" value="{{account_row.goal_progress}}">
                            &#x1F785;
                      </progress>
                  {% endif %}
              </span>
                {% if account_row.is_non_budget() %}
                  <span class="balance-children">
                      {{ extension.format_amount(extension._row_children(grows, account), show_if_zero=False) }}
                  </span>
                {% endif %}
            </span>

            {% if account_row.is_non_budget() %}
            <span class="num"></span>
            {% else %}
            <span class="num {{ 'has-balance' if budgeted else '' }}">
              <span class="balance {{ 'negative' if budgeted.number < 0 else 'positive' if budgeted.number > 0 else '' }}">
                <a href="{{ url_for('report', extension_name='journal', time=period, show='custom') }}">
                  {{ extension.format_amount(budgeted) }}
                </a>
              </span>
              <span class="balance-children {{ 'negative' if budgeted.number < 0 else 'positive' if budgeted.number > 0 else '' }}">
                <a href="{{ url_for('account', name=account.account, time=period) }}">
                  {{ extension.format_amount(extension._row_children(brows, account), show_if_zero=True) }}
                </a>
              </span>
            </span>
            {% endif %}


            <span class="num {{ 'has-balance' if spent else '' }}">
              <span class="balance spent {{ 'negative' if spent.number < 0 else 'positive' if spent.number > 0 else '' }}">
                <a href="{{ url_for('account', name=account.account, time=period) }}">
                  {{ extension.format_amount(spent, show_if_zero=False) }}
                </a>
              </span>
              <span class="balance-children ">
                <a href="{{ url_for('account', name=account.account, time=period) }}">
                  {{ extension.format_amount(extension._row_children(srows, account), show_if_zero=False) }}
                </a>
              </span>
            </span>

            {% if not account_row.is_non_budget() %}
                    <span class="num {{ 'has-balance' if available else '' }}">
                      <span class="balance-children">
                          {{ extension.format_amount(extension._row_children(vrows, account), show_if_zero=False) }}
                      </span>
                      <span class="balance">
                          {% if extension._is_leaf(account) %}
                            <span class="number available {{ 'negative' if available.number < 0 else 'underfunded' if account_row.is_underfunded else 'positive' if available.number > 0 else 'zero' if available.number == 0 else '' }}">

                                {% if not extension._is_real_account(account) and account_row.has_any_goal %}
                                {% if available.number >= 0 %}
                                  {% if account_row.is_funded %}
                                    &#x2714;
                                    {% else%}
                                        {% if account_row.is_underfunded %}
                                        &#x1F785;
                                        {% endif %}
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                              {{ extension.format_amount(available, show_if_zero=True) }}
                            </span>
                          {% endif %}
                      </span>
                </span>
           {% endif %}
      </p>
        <ol>
        {{ loop(extension._sort_subtree(account)) }}
        </ol>
    </li>
    {% endfor %}
    </ol>

{% else %}
    {% if request.args.get('time') %}
    <div>Postings filtered by time range: {{ request.args.get('time') }}</div>
    {% endif %}
    <div>No data for selected month.</div>
{% endif %}

<br />
